{% extends "layout.html.twig" %}

{% block body %}
<div class="page-header">
    <h1>@Taller</h1>
</div>

<table class="records_list table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Cliente</th>
            <th>Vehículo</th>
            <th>Ingresa</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('customer_show', { 'customerId': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.firstname }} {{ entity.lastname }}</td>
            <td>{{ entity.make }} {{ entity.model }} - {{ entity.plate }}</td>
            <td>{% if entity.startdate %}{{ entity.startdate|date('d-m-Y') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('customer_show', { 'customerId': entity.id }) }}">ver</a>
                    </li>
                    <li>
                        <a href="{{ path('customer_edit', { 'customerId': entity.id }) }}">editar</a>
                    </li>
                    <li>
                        <a href="{{ path('customer_del', { 'customerId': entity.id }) }}">eliminar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="pagination pagination-centered">
  <ul>
    <li class="disabled"><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
  </ul>
</div>

<a href="{{ path('workshop_new') }}" class="btn btn-primary ">Nuevo ingreso</a>
{% endblock %}