{% extends "layout.html.twig" %}

{% block body %}
<div class="page-header">
    <h1>Autos</h1>
</div>

<table class="records_list table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marca / Modelo</th>
            <th>Dueño</th>
            <th>Creado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('car_show', { 'carId': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.make }} {{ entity.model }}</td>
            <td><a href="#">{{ entity.customer_firstname }} {{ entity.customer_lastname }}</a></td>
            <td>{% if entity.created %}{{ entity.created|date('d-m-Y') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('car_show', { 'carId': entity.id }) }}">ver</a>
                    </li>
                    <li>
                        <a href="{{ path('car_edit', { 'carId': entity.id }) }}">editar</a>
                    </li>
                    <li>
                        <a href="{{ path('car_del', { 'carId': entity.id }) }}">eliminar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="pagination pagination-centered">
  <ul>
    <li class="disabled"><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
  </ul>
</div>

{% endblock %}